{% extends "base.html" %}
{% load static %}
{% block title %}
        About us
{% endblock title %}

{% block content %}


<div class="row col-12 align-items-center justify-content-around">
  <div class=" col-lg-4 col-md-4 col-sm-11">
    <img src="{% static 'images/me2.png' %}" alt="Image" class="" >
  </div>
  <div class="jumbotron bg-dark text-light mt-2 col-lg-6 col-md-6 col-sm-11">
      <h1 class="display-4 social-bar">WZRTECH</h1>
      <p class="lead">
          Welcome to our digital realm! We are a passionate team of software developers dedicated to bringing the ever-evolving world of technology closer to you. Through our carefully crafted content on various social media platforms, we strive to demystify the intricacies of computer science, artificial intelligence, and the digital universe. Our mission is to empower and inspire tech enthusiasts, beginners, and experts alike. We don't just stop at software; we explore the entire tech ecosystem, from groundbreaking hardware innovations to the latest in cutting-edge technology. Join us on this exciting journey as we unravel the mysteries of the digital world and share our insights, discoveries, and useful websites to fuel your tech curiosity."
      </p>
      <hr class="my-4">
      <p>You can join Us in all social medias</p>
      <div class="social-bar">
        <a href="https://www.tiktok.com/@wzrtech" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.facebook.com/WZRTECH" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/wzrtech/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC4Y7esoOZ3DUtWPX1OAbjBg" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://t.me/wzrtechCourses" target="_blank"><i class="fab fa-telegram"></i></a>
      </div>
  </div>
 
</div>

{% endblock content %}