.our-grid-contianer {
  margin-top: 4rem;
}
.card-img-top {
  height: 70px;
}
.myLogo{
  height: 80px; 
  width:150px; 
  margin-right: 40px
}
.mycard{
  margin: 10px 0px; 
  padding:5px;
  height:350px
}